.fade-enter{
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .200ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}


.from-top-enter{
  max-height: 0;
}
.from-top-enter.from-top-enter-active {
  max-height: 200px;
  transition: max-height 500ms ease-in-out;
}

.from-top-leave{
  max-height: 200px;
}
.from-top-leave.from-top-leave-active {
  max-height: 0;
  transition: max-height 500ms ease-in-out;
}
